{% extends "users/base.html" %}

{% block head_content %}
    <title>Signup - Platzigram</title>
{% endblock head_content %}
{% block container %}
	{% if form.errors %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{form.errors}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
	{% endif %}
	{% if message %}
		<div class="alert alert-info alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
	{% endif %}
	<form method="POST" action="{% url 'users:signup' %}">
		{% csrf_token %}
		{% for input in form %}
			<div class="form-group">
				{{input}}
			</div>
            <div class="invalid-feedback">
                {% for error in input.errors %}{{ error }}{% endfor %}
            </div>
		{% endfor %}

		<button type="submit" class="btn btn-outline-success btn-block mt-5"><i class="lead">Register!</i></button>	
	</form>
		<div class="mx-auto mt-1" style="width: 300px;">
		<p>Already registered? <a href="{% url "users:login" %}">Sign In</a></p>
	</div>
{% endblock container %}